*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    background-color: #212121;
    color: #fff;
    padding: 15px;
        
}

nav a {
    text-decoration: none;
    color: #fff;    
}    

.container{
    margin-left: 20%;
    margin-top: 4%;
}


form input{
    background-color: #fff;
    /* border-radius: 5px; */
    padding : 5px;
    border : none;
    outline: none;
}

form p {
    margin-top: 2%;
}

button{
    margin-top: 3%;
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
    border : 2px solid black;
    border-radius : 5px;
    background-color: #fff;
    margin-left: 8%;
    cursor: pointer;
}

#results {
    font-size: 2rem;
    margin-top: 2%;
    margin-left: 5%;
    font-weight: 700;
}
#weight-guide {
    margin-top: 5%;
}
#weight-guide p {
    line-height: 1rem;
}